---
import {Image} from "astro:assets";
import Scratchy from "@assets/scratch.webp";
import Container from "@components/ui/container.astro";
import Link from "@components/ui/link.astro";
---

<section class="relative">
  <video
    src="https://sweenystudio.app/Couples%20Cards_3.mp4"
    preload="none"
    autoplay
    loop
    muted
    playsinline
    class="object-cover h-[50vh] md:h-[90vh] w-full object-center md:absolute md:-top-8 md:-z-10 md:inset-0"
  ></video>
  <div
    class="absolute h-[50vh] md:h-[90vh] inset-0 bg-gradient-to-r from-white to-transparent opacity-0 md:opacity-50 -z-10 -top-8"
  >
  </div>
  <Container>
    <div
      class="flex flex-col justify-center md:items-start items-center text-center md:text-start mt-8 md:py-36 lg:py-56 md:max-w-2xl"
    >
      <h1 class="text-3xl md:text-7xl font-clearface font-medium">
        Build a <span class="underline underline-offset-4">Stronger </span> Relationship
        with your Partner
      </h1>
      <p class="text-md mt-4 md:text-2xl">
        Vush's Connection Challenges are designed to help you and your partner
        build a stronger, more intimate relationship.
      </p>
      <Link
        class="items-center flex w-full md:w-fit justify-center gap-x-2 group text-lg mt-4 md:mt-12 md:px-18 md:text-xl md:py-5"
        href="#product"
        >Start Playing Today
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 group-hover:translate-x-2 duration-300 translate-all"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </span>
      </Link>
    </div>
  </Container>
</section>
