---
import Container from "@components/ui/container.astro";
import {Image} from "astro:assets";
import MainFeatureUGC from "@assets/CARD-UGC-05.webp";
import MoonIcon from "@assets/usps/100CC-05@2x.png";
import ChilliIcon from "@assets/usps/100CC-06@2x.png";
import RocketIcon from "@assets/usps/100CC-07@2x.png";
import FireIcon from "@assets/usps/100CC-08@2x.png";
import Link from "@components/ui/link.astro";

const usps = [
  {
    icon: MoonIcon,
    title: "Strengthen Your Relationship",
  },
  {
    icon: ChilliIcon,
    title: "3 Levels Of Spice",
  },
  {
    icon: RocketIcon,
    title: "Free Next-Day Delivery",
  },
  {
    icon: FireIcon,
    title: "100 Different Challenges",
  },
];
---

<section class="bg-vushGray">
  <Container>
    <div
      class="flex-col flex md:grid md:grid-cols-3 items-start md:gap-x-12 pt-8"
    >
      <div class="flex flex-col justify-between items-start md:py-16 md:pr-10">
        <h3
          class="text-3xl md:text-6xl font-medium tracking-tight font-clearface"
        >
          Ready To Level Up Your Relationship?
        </h3>
        <p class="text-md mt-4 md:text-2xl">
          Connection Challenges is designed to help you and your partner connect
          on a deeper level, and have fun while doing it. It’s perfect for
          couples who want to grow together, and build a relationship that lasts
          a lifetime.
        </p>

        <p class="text-md mt-4 md:text-2xl font-bold">
          Simply, it's a way to build a stronger, healthier, more intimate
          relationship.
        </p>
        <Link
          class="items-center flex w-fit justify-center gap-x-2 mt-4 group text-lg md:px-18 md:text-xl md:py-5"
          href="#product"
          >Start Playing Today
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 group-hover:translate-x-2 duration-300 translate-all"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </span>
        </Link>
      </div>
      <div class="col-span-2 pt-8 md:pt-0">
        <Image
          src={MainFeatureUGC}
          alt="Connection Challenges"
          class="md:p-16"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-2 lg:grid-cols-4 gap-4 md:gap-12 py-8 md:py-0 md:pb-8"
    >
      {
        usps.map((usp) => (
          <div class="flex flex-row items-center justify-center gap-x-2 ">
            <Image
              src={usp.icon}
              alt="icon"
              class="w-12 md:w-16 h-12 md:h-16"
            />
            <p class="text-base font-clearface md:text-2xl text-start tracking-tight leading-tight">
              {usp.title}
            </p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
