---
import Container from "@components/ui/container.astro";
import {Image} from "astro:assets";
import MainFeatureUGC from "@assets/CARD-UGC-05.webp";
---

<section class="bg-vushGray">
  <Container>
    <div
      class="flex-col flex md:grid md:grid-cols-3 items-start md:gap-x-12 py-8"
    >
      <div class="flex flex-col justify-between items-start md:py-16 md:pr-10">
        <h3
          class="text-3xl md:text-6xl font-medium tracking-tight font-clearface"
        >
          Ready To Level Up Your Relationship?
        </h3>
        <p class="text-md mt-4 md:text-2xl">
          Connection Challenges is designed to help you and your partner connect
          on a deeper level, and have fun while doing it. It’s perfect for
          couples who want to grow together, and build a relationship that lasts
          a lifetime.
        </p>

        <p class="text-md mt-4 md:text-2xl font-bold">
          Simply, it's a way to build a stronger, healthier, more intimate
          relationship.
        </p>
      </div>
      <div class="col-span-2 pt-8 md:pt-0">
        <Image
          src={MainFeatureUGC}
          alt="Connection Challenges"
          class="md:p-16"
        />
      </div>
    </div>
  </Container>
</section>
