---
import Container from "@components/ui/container.astro";
import {Image} from "astro:assets";
import BackgroundMobile from "@assets/How-To-Play-Mobile-04.webp";
import BackgroundDesktop from "@assets/How-To-Play-Desktop-03.webp";
import Link from "@components/ui/link.astro";

import ActivityCards from "@assets/usps/activity-cards.webp";
import DeeperConnection from "@assets/usps/deeper-connection.webp";
import FreeShipping from "@assets/usps/free-shipping.webp";
import Spice from "@assets/usps/spice.webp";

const usps = [
  {
    name: "100 Activity Cards",
    icon: ActivityCards,
  },
  {
    name: "Deeper Connection",
    icon: DeeperConnection,
  },
  {
    name: "Spice Up Your Relationship",
    icon: Spice,
  },
  {
    name: "Free Shipping",
    icon: FreeShipping,
  },
];
---

<section id="product" class="relative lg:py-36 xl:py-48">
  <Image
    class="absolute inset-0 w-full h-full object-cover object-center -z-10"
    alt="Background"
    src={BackgroundDesktop}
  />
  <Container>
    <div class="grid grid-cols-2 gap-12">
      <div class="col-start-2 pl-12 overflow-hidden relative">
        <h3 class="text-6xl font-medium tracking-tight font-clearface">
          Get Started With Your Connection Challenges
        </h3>
        <div
          class="flex flex-row justify-between items-center mt-8 border-b border-neutral-400"
        >
          <div class="flex flex-col gap-y-1 py-4">
            <p class="text-2xl">Connection Challenges Pack</p>
            <p class="text-lg text-neutral-600">100 Couples Activity Cards</p>
          </div>
          <div class="flex flex-row items-center gap-x-4">
            <p class="text-2xl opacity-40 line-through">$79.99</p>
            <p class="text-2xl">$59.99</p>
          </div>
        </div>
        <div
          class="flex flex-row justify-between items-center border-b border-neutral-400"
        >
          <div class="flex flex-col gap-y-1 py-4">
            <p class="text-2xl">Next-Day Delivery</p>
            <p class="text-lg text-neutral-600">Express Shipping</p>
          </div>
          <div class="flex flex-row items-center gap-x-4">
            <p class="text-2xl opacity-40 line-through">$29.99</p>
            <p class="text-2xl">Free</p>
          </div>
        </div>
        <div class="flex flex-row justify-between items-center mt-8">
          <div class="flex flex-col gap-y-1 py-4">
            <p class="text-2xl">Total</p>
          </div>
          <div class="flex flex-row items-center gap-x-4">
            <p class="text-2xl opacity-40 line-through">$109.98</p>
            <p class="text-2xl">$59.99</p>
          </div>
        </div>
        <Link
          class="items-center flex w-full justify-center gap-x-2 group text-lg mt-4 md:mt-12 md:px-18 md:text-xl md:py-5"
          href="#product"
          >Buy Connection Challenges Now!
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 group-hover:translate-x-2 duration-300 translate-all"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </span>
        </Link>
        <div class="flex flex-row gap-x-6 justify-center mt-3">
          <div class="flex-row flex gap-x-2 items-center">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              ><path
                d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
                fill="currentColor"
                fill-rule="evenodd"
                clip-rule="evenodd"></path></svg
            >
            <p class="text-lg text-neutral-600">30-Day Money-Back Guarantee</p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
