---
import {SEO} from "astro-seo";
const GA4MeasurementId = "G-YOUR_MEASUREMENT_ID";

interface Props {
  seoTitle?: string;
  seoDescription?: string;
}

const {seoTitle, seoDescription} = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title={seoTitle
        ? seoTitle
        : "Vush Connection Challenges for Couples | 100 Fun & Intimate Activities"}
      description={seoDescription
        ? seoDescription
        : "Ignite deeper intimacy and fun in your relationship with Vush's Connection Challenges. This pack of 100 couples activity cards offers a blend of engaging, romantic, and spicy challenges designed to strengthen your bond. Perfect for date nights or to rekindle the spark, our challenges cater to all levels of adventure. With over 12,000 5-star reviews, start your journey to a more intimate connection today. Free next-day delivery available!"}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style is:global>
      /* CSS Fonts here */
      @font-face {
        font-family: "Clearface";
        src: url("/fonts/ClearfaceStd-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Karla";
        src: url("/fonts/Karla-VariableFont_wght.ttf") format("truetype");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Karla";
        src: url("/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      /* For IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>

    <script
      async
      src=`https://www.googletagmanager.com/gtag/js?id=${GA4MeasurementId}`
      is:inline></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", `${GA4MeasurementId}`);
    </script>
  </head>
  <body class="font-karla relative overscroll-none scroll-smooth">
    <slot />
  </body>
</html>
