---
interface Props {
  title?: string;
  class?: string;
}

const {class: className} = Astro.props;
---

<h2
  class:list={[
    className,
    `font-clearface text-vushBlack text-3xl font-medium tracking-tight md:text-6xl`,
  ]}
>
  <slot />
</h2>
