---
interface Props {
  href: string;
  size?: "md" | "lg" | "sm";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-7 py-2.5",
  md: "px-5 py-2",
  sm: "px-4 py-2 text-sm",
};

const styles = {
  outline: "bg-white border border-vushBlack hover:bg-vushGray text-vushBlack ",
  primary:
    "bg-gradient-to-br from-vushOrange via-vushYellow to-vushGreen text-vushBlack border border-vushBlack hover:from-vushOrangeDark hover:via-vushYellowDark hover:to-vushGreenDark ",
  inverted: "bg-white text-indigo-800 border-2 border-transparent",
  muted: "bg-gray-100 hover:bg-gray-200   border-2 border-transparent",
};
---

<a
  href={href}
  target="_top"
  {...rest}
  class:list={[
    "rounded-full text-center transition duration-300 ",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
