---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<p
    class:list={[
        className,
        "text-base tracking-tight text-neutral-800 md:text-lg",
    ]}
>
    <slot />
</p>
